.mat-card-image {
  max-width: inherit;
}

.mat-card-content > div {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 4px;
  }
}

.chip-wrapper {
  margin-top: 12px;
}
