.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  height: 100%;

  .login-card-column {
    display: flex;
    align-items: center;
    grid-column-start: 2;
  }
}
