:host {
  display: block;

  .search-wrapper {
    display: flex;
    position: relative;
    grid-column: 1 / span 3;
    padding: 16px;
    background: #424242;

    input {
      padding: 8px 40px 8px 8px;
      width: 100%;
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      top: 16px;
      right: 24px;
      bottom: 16px;
    }
  }
}

.grid {
  padding: 24px 48px 24px 48px;
  gap: 24px;
}



@media only screen and (max-width: 768px) {
  :host .search-wrapper {
    grid-column: inherit;
  }
}
